<!DOCTYPE html>
<html>
<head>
  <title>Travis Valentine</title>
  <link ref="stylesheet" type="text/css" src="style.css" />
  <style>
    body {
      font-family: "HelveticaNeue";
      padding: 20px 60px;
    }
    h1 {
      color: #666;
      margin-bottom: 40px;
    }
    a {
      text-decoration: none;
      color: #6633FF;
    }
    a:hover {
      text-decoration: underline;
      color: #6633FF;
    }
    a:visited {
      color: #6633FF;
    }
    ol,ul {
      list-style: none;
    }
    p {
      color: #333;
      font-size: 120%;
    }
  </style>
</head>
  <body>
    <header>
      <h1>Option #1: Dinner and a Movie (or whatever the cool kids do these days)</h1>
    </header>
    <aside>
      <p>Here's a quick Math example:</p>
      <p>Food + Movie + Travis = Fun</p>
      <p>If interested in this deal, please reserve your spot by emailing <a href="mailto:tvalent2@gmail.com?Subject=DEAL #1 IS MY JAM">tvalent2@gmail.com</a></p>
      <p>* This deal can also be redeemed in Washington, DC. (Bonus: Redemption in DC might also include a trip to Wegmans.)</p>
      <p>Available times: the weekend of January 18, the month of February...and so on</p>
    </aside>
  </body>
</html>