<!DOCTYPE html>
<html>
<head>
  <title>Travis Valentine</title>
  <%= stylesheet "/css/style.css" %>
  <meta name="description" content="Political hack turned software engineer.">
  <link rel="author" href="https://plus.google.com/+TravisValentine1">
</head>
  <body>
    <div class="container">
      <header>
        <h1>Hi, I'm Travis.</h1>
      </header>
      <aside>
        <p>
          I like <a href="http://travisvalentine.tumblr.com" alt="music blog" title="My Rap Blog" target="_blank">music</a> that has a lot of bass. Feel free to <a href="mailto:tvalent2@gmualumni.org?Subject=What's Up" target="_blank">email me</a>, or hit me up on twitter <a href="http://twitter.com/travisvalentine" alt="twitter" title="twitter" target="_blank">@travisvalentine</a>.
        </p>
      </aside>
      <aside id="projects">
        <p>A few of the things I've made are YourTurn, DialTest, and oursolution.is. Check those out below.</p>
      </aside>
      <section class="site-snapshot">
        <a href="http://yourturn.org" alt="yourturn.org" title="yourturn.org" target="_blank"><div class="image yourturn"></div></a>
      </section>
      <section class="site-snapshot">
        <a href="http://dialtestapp.com" alt="dialtestapp.com"><div class="image dialtest"></div></a>
      </section>
      <section class="site-snapshot">
        <a href="http://oursolution.is" alt="oursolution.is" title="oursolution.is" target="_blank"><div class="image oursolution"></div></a>
      </section>
    </div>
  </body>
</html>