<!DOCTYPE html>
<html>
<head>
  <title>Travis Valentine</title>
  <%= stylesheet "/css/style.css" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../../css/semantic-themes/icon.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="Political hack turned software engineer.">
  <link rel="author" href="https://plus.google.com/+TravisValentine1">
  <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
</head>
  <body>
    <div class="container">
      <header>
        <h1>Hi, I'm Travis.</h1>
      </header>
      <aside>
        <p>
          I like <a href="http://music.tcvalentine.com" alt="music blog" title="My Rap Blog">music</a> that has a lot of bass. Feel free to <a href="mailto:tvalent2@gmualumni.org?Subject=What's Up">email me</a>, or hit me up on twitter <a href="http://twitter.com/travisvalentine" alt="twitter" title="twitter">@travisvalentine</a>.
        </p>
      </aside>
      <aside class="tech projects">
        <p>A few of the things I've made are below.</p>
        <h3>Mobile Apps</h3>
        <div class="app">
          <img class="app" src="http://a3.mzstatic.com/us/r30/Purple3/v4/05/39/b2/0539b248-d4fd-d5d5-997b-2aedf941c6ff/icon175x175.png">

          <div class="platforms">
            <span><a href="https://itunes.apple.com/us/app/dialtest/id804474997?mt=8" title="DialTest iOS App"><i class="grey apple link icon"></i></a></span>
            <span><a href="https://play.google.com/store/apps/details?id=com.dialtest.dialtest" title="DialTest Android App"><i class="green android link icon"></i></a></span>
          </div>
        </div>
        <div class="app">
          <img class="app" src="http://a1.mzstatic.com/us/r30/Purple5/v4/bd/23/c0/bd23c094-5e08-1ec9-6723-7f62932251ad/icon175x175.png">

          <div class="platforms">
            <span><a href="https://itunes.apple.com/us/app/yourturn-app/id672989892?mt=8" title="YourTurn iOS App"><i class="grey apple link icon"></i></a></span>
          </div>
        </div>
        <h3>Web Apps</h3>
        <ol id="app_list">
          <a href="http://dialtestapp.com/">DialTest</a><span class="divider">|</span>
          <a href="http://yourturn.org/">YourTurn</a><span class="divider">|</span>
          <a href="http://oursolution.is/">oursolution.is</a><span class="divider">|</span>
          <a href="http://semantickit.com/">SemanticKit</a>
        </ol>
        <p>The rest is on <a href="http://github.com/travisvalentine" alt="github" title="twitter">Github</a>.</p>
      </aside>
      <aside class="woodworking projects">
        <h3>Woodworking</h3>
        <!-- SwJvwhsem9 -->
        <img src="https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/s320x320/e15/11201763_759151714198174_1668402823_n.jpg">
        <!-- MCYoi-Meut -->
        <img src="https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/s320x320/e15/10808508_1112852298740375_997500497_n.jpg">
        <!-- Kh8La3setJ -->
        <img src="https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/s320x320/e15/11085144_370249036496560_1936213819_n.jpg">
      </aside>
    </div>
  </body>
</html>