body {
  display: block;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  margin: 0% -1.5%;
  padding: 0%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}
.container {
  margin: 0 auto;
  width: 100%;
}
header, aside {
  margin: 0 auto;
  width: 80%;
}
.container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
h1 {
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  color: #6633FF;
}
a:hover {
  text-decoration: underline;
  color: #6633FF;
}
a:visited {
  color: #6633FF;
}
ol,ul {
  list-style: none;
}
p {
  color: #333;
  font-size: 1.05em;
  margin: 15px 0;
}
aside#projects {
  margin-top: 10px;
}
.site-snapshot .image {
  height: 520px;
  margin: 0px auto 80px;
  opacity: 0.5;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  width: 1000px;
}
.site-snapshot .image:hover {
  opacity: 1;
}
.image.yourturn {
  background: url("/images/yourturn1000.png") no-repeat;
}
.image.dialtest {
  background: url("/images/dialtest1000.png") no-repeat;
}
.image.oursolution {
  background: url("/images/oursolution1000.png") no-repeat;
}

@media (max-width: 979px) {
  .site-snapshot .image {
    height: 416px;
    margin: 0px auto 40px;
    width: 800px;
  }
  .image.yourturn {
    background: url("/images/yourturn800.png") no-repeat;
  }
  .image.dialtest {
    background: url("/images/dialtest800.png") no-repeat;
  }
  .image.oursolution {
    background: url("/images/oursolution800.png") no-repeat;
  }
}

@media (max-width: 600px) {
  .site-snapshot .image {
    height: 208px;
    margin: 0px auto 40px;
    width: 400px;
  }
  .image.yourturn {
    background: url("/images/yourturn400.png") no-repeat;
  }
  .image.dialtest {
    background: url("/images/dialtest400.png") no-repeat;
  }
  .image.oursolution {
    background: url("/images/oursolution400.png") no-repeat;
  }
}