<!DOCTYPE HTML>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/semantic-themes/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/semantic-themes/sidebar.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/semantic-themes/icon.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/semantic-themes/minimal-slide.css">
    <script src="../../js/semantic-themes/minimal-slide.js"></script>
    <script src="../../js/semantic-themes/semantic.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimumscale=1.0, maximum-scale=1.0" />
    <title>Minimal Theme</title>
  </head>

  <body>
    <div class="ui sidebar inverted vertical menu">
      <a class="item" href="index.html">
        <i class="home icon"></i>Home
      </a>
      <a class="item active" href="about.html">
        <i class="users icon"></i>About
      </a>
      <a class="item" href="contact.html">
        <i class="phone icon"></i>Contact
      </a>
    </div>

    <div class="pusher">
      <div class="full height">
        <div class="ui main container">
          <div class="menu bar">
            <div class="ui large secondary menu">
              <a class="sidebar-toggle item">
                <i class="big sidebar icon"></i> Menu
              </a>
            </div>
          </div>

          <div class="ui grid container">
            <div class="row">
              <h1>About</h1>
            </div>

            <div class="ui divider"></div>

            <div class="row">
              <div class="column">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lacus in mi dignissim gravida. Sed lobortis lectus in lorem eleifend, at dapibus ante laoreet. Vestibulum tempus mi ante, vitae molestie dolor luctus et. Sed nec tempus nibh. Pellentesque eu tortor gravida, luctus ipsum eu, molestie nunc. Vestibulum tincidunt dictum metus a aliquam. Cras feugiat lectus dolor, ut pharetra velit porta quis. Nulla gravida ligula ac mauris varius suscipit. Donec rhoncus libero mi, tempus feugiat neque aliquam eleifend.</p>
                  <div class="ui basic segment">
                    <a class="ui tiny left floated image">
                      <img src="../../images/semantic-themes/placeholder-image.png">
                    </a>
                    <a class="header">Jane Doe</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                  <div class="ui basic segment">
                    <a class="ui tiny left floated image">
                      <img src="../../images/semantic-themes/placeholder-image.png">
                    </a>
                    <a class="header">John Doe</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>

              </div>
            </div>
          </div>
        </div>

        <div class="ui vertical footer segment">
          <div class="ui center aligned container">
            <div class="ui horizontal small divided link list">
              <a class="item">&copy; 2015</a>
              <a class="item" href="#">Terms and Conditions</a>
              <a class="item" href="#">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>