<!DOCTYPE HTML>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/semantic-themes/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/semantic-themes/sidebar.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/semantic-themes/icon.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/semantic-themes/minimal-slide.css">
    <script src="../../js/semantic-themes/minimal-slide.js"></script>
    <script src="../../js/semantic-themes/semantic.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimumscale=1.0, maximum-scale=1.0" />
    <title>Minimal Theme</title>
  </head>

  <body>
    <div class="ui sidebar inverted vertical menu">
      <a class="item active" href="index.html">
        <i class="home icon"></i>Home
      </a>
      <a class="item" href="about.html">
        <i class="users icon"></i>About
      </a>
      <a class="item" href="contact.html">
        <i class="phone icon"></i>Contact
      </a>
    </div>

    <div class="pusher">
      <div class="full height image">
        <div class="ui main container">
          <div class="menu bar">
            <div class="ui large inverted secondary menu">
              <a class="sidebar-toggle item">
                <i class="big sidebar icon"></i> Menu
              </a>
            </div>
          </div>

          <div class="ui information container">
            <h1 class="ui center aligned header">Welcome</h1>
            <p>Showcase a beautiful background image with this clean theme. Featuring a slideout navigation, this is a great choice for a minimal landing page.</p>
            <button class="fluid huge ui primary button">
              Huge
            </button>
          </div>
        </div>

        <div class="ui vertical footer segment">
          <div class="ui center aligned container">
            <div class="ui horizontal inverted small divided link list">
              <a class="item">&copy; 2015</a>
              <a class="item" href="#">Terms and Conditions</a>
              <a class="item" href="#">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>