<!DOCTYPE HTML>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/semantic-themes/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/semantic-themes/sidebar.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/semantic-themes/icon.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/semantic-themes/minimal-slide.css">
    <script src="../../js/semantic-themes/minimal-slide.js"></script>
    <script src="../../js/semantic-themes/semantic.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Minimal Theme</title>
  </head>

  <body>
    <div class="ui sidebar inverted vertical menu">
      <a class="item" href="index.html">
        <i class="home icon"></i>Home
      </a>
      <a class="item" href="about.html">
        <i class="users icon"></i>About
      </a>
      <a class="item active" href="contact.html">
        <i class="phone icon"></i>Contact
      </a>
    </div>

    <div class="pusher">
      <div class="full height">
        <div class="ui main container">
          <div class="menu bar">
            <div class="ui large secondary menu">
              <a class="sidebar-toggle item">
                <i class="big sidebar icon"></i> Menu
              </a>
            </div>
          </div>

          <div class="ui stackable grid container">
            <div class="row">
              <h1>Contact Us</h1>
            </div>

            <div class="ui divider"></div>

            <div class="row">
              <div class="four wide column">
                <div class="ui list">
                  <div class="item">
                    <i class="users icon"></i>
                    <div class="content">
                      SemanticKit
                    </div>
                  </div>
                  <div class="item">
                    <i class="marker icon"></i>
                    <div class="content">
                      New York, NY
                    </div>
                  </div>
                  <div class="item">
                    <i class="mail icon"></i>
                    <div class="content">
                      <a href="mailto:randomemail@semantickit.com">randomemail@semantickit.com</a>
                    </div>
                  </div>
                  <div class="item">
                    <i class="linkify icon"></i>
                    <div class="content">
                      <a href="http://www.semantickit.com">semantickit.com</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="twelve wide column">
                <div class="ui embed" data-source="google-maps" data-url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.620108934566!2d-73.98766788459396!3d40.74838397932794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b30eac9f%3A0xaca05ca48ab5ac2c!2s350+5th+Ave%2C+New+York%2C+NY+10118!5e0!3m2!1sen!2sus!4v1445098127188" data-icon="right circle arrow">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ui vertical footer segment">
          <div class="ui center aligned container">
            <div class="ui horizontal small divided link list">
              <a class="item">&copy; 2015</a>
              <a class="item" href="#">Terms and Conditions</a>
              <a class="item" href="#">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>